@font-face{
	font-family: 'icons';
	src: url('../fonts/icons.woff2') format('woff2'); // обязательно относительный путь!
	font-weight: normal;
    font-style: normal;
    font-display: swap;
}
[class*=" ci-"]:before,
[class^=ci-]:before{
	font-family: 'icons' !important;
	font-style: normal;
	font-variant: normal;
	font-weight: 400 !important;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}